name: Testing the GitHub Pages publication

on:
  push
    
env:
  URL: https://helaili.github.io/jekyll-action/

jobs:
  basic-publish: 
    runs-on: ubuntu-latest
    steps:
    - name: Set the GH Pages branch
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.JEKYLL_PAT}} # Need a PAT to switch the branch
        script: |
          await github.repos.updateInformationAboutPagesSite({
            owner: context.repo.owner,
            repo: context.repo.repo,
            source: {
              branch: "gh-pages",
              path: "/"
            }
          })
          await github.repos.requestPagesBuild({
            owner: context.repo.owner,
            repo: context.repo.repo
          })
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: sample_site_gemfiles/vendor/bundle
        key: gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          gems
    - name: Basic run
      uses: ./
      with:
        jekyll_build_options: "--config ../sample_site/_config.yml,../sample_site/_config_basic.yml"
        jekyll_env: development
        build_only: false
        pre_build_commands: apk --update add imagemagick nodejs
        token: ${{ secrets.GITHUB_TOKEN }}
      
  basic-test: 
    runs-on: ubuntu-latest
    needs: [basic-publish, jekyll-src-publish, jekyll-gem-src-publish, keep-history-publish]
    steps:
    - name: Set the GH Pages branch
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.JEKYLL_PAT}} # Need a PAT to switch the branch
        script: |
          await github.repos.updateInformationAboutPagesSite({
            owner: context.repo.owner,
            repo: context.repo.repo,
            source: {
              branch: "gh-pages",
              path: "/"
            }
          })
          await github.repos.requestPagesBuild({
            owner: context.repo.owner,
            repo: context.repo.repo
          })
    - uses: actions/checkout@v2
    - name: Caching
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Get the URL of the rendered site
      id: rendered-site-url
      run: |
        full_url=$(curl -sH "Authorization: token ${AUTH_TOKEN}" \
        "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/pages" | \
        awk -F'"' '/\"html_url\"/ { print $4 }')
        url=$(dirname "${full_url}")
        echo "::set-output name=url::${url}"
      env:
        AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Cypress run
      uses: cypress-io/github-action@v2.7.2
      with:
        config: baseUrl=${{ steps.rendered-site-url.outputs.url }}
        working-directory: tests/e2e
        spec: cypress/integration/basic/**/*
    - name: Save Cypress Screenshots
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-screenshots-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/screenshots
      # Test run video was always captured, so this action uses "always()" condition
    - name: Save Cypress Videos
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: cypress-videos-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/videos

  jekyll-src-publish: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: sample_site_gemfiles/vendor/bundle
        key: gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          gems
    - name: Basic run
      uses: ./
      with:
        jekyll_build_options: "--config ../sample_site/_config.yml,../sample_site/_config_jekyll_src.yml"
        jekyll_src: sample_site
        target_branch: jekyll_src_test_pages_branch
        jekyll_env: production
      env:
        JEKYLL_PAT: ${{ secrets.GITHUB_TOKEN }}
        JEKYLL_DEBUG: true
      
  jekyll-src-test: 
    runs-on: ubuntu-latest
    needs: basic-test
    steps:
    - name: Set the GH Pages branch
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.JEKYLL_PAT}} # Need a PAT to switch the branch
        script: |
          await github.repos.updateInformationAboutPagesSite({
            owner: context.repo.owner,
            repo: context.repo.repo,
            source: {
              branch: "jekyll_src_test_pages_branch",
              path: "/"
            }
          })
          await github.repos.requestPagesBuild({
            owner: context.repo.owner,
            repo: context.repo.repo
          })
    - uses: actions/checkout@v2
    - name: Caching
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Get the URL of the rendered site
      id: rendered-site-url
      run: |
        full_url=$(curl -sH "Authorization: token ${AUTH_TOKEN}" \
        "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/pages" | \
        awk -F'"' '/\"html_url\"/ { print $4 }')
        url=$(dirname "${full_url}")
        echo "::set-output name=url::${url}"
      env:
        AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Cypress run
      uses: cypress-io/github-action@v2.7.2
      with:
        config: baseUrl=${{ steps.rendered-site-url.outputs.url }}
        working-directory: tests/e2e
        spec: cypress/integration/jekyll_src/**/*
    - name: Save Cypress Screenshots
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-screenshots-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/screenshots
    - name: Save Cypress Videos
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: cypress-videos-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/videos
  
  jekyll-gem-src-publish: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: sample_site_gemfiles/vendor/bundle
        key: gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          gems
    - name: Basic run
      uses: ./
      with:
        jekyll_build_options: "--config ../sample_site/_config.yml,../sample_site/_config_jekyll_gem_src.yml"
        jekyll_src: sample_site
        gem_src: sample_site_gemfiles
        target_branch: jekyll_gem_src_test_pages_branch
        token: ${{ secrets.GITHUB_TOKEN }}
      
  jekyll-gem-src-test: 
    runs-on: ubuntu-latest
    needs: jekyll-src-test
    steps:
    - name: Set the GH Pages branch
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.JEKYLL_PAT}} # Need a PAT to switch the branch
        script: |
          await github.repos.updateInformationAboutPagesSite({
            owner: context.repo.owner,
            repo: context.repo.repo,
            source: {
              branch: "jekyll_gem_src_test_pages_branch",
              path: "/"
            }
          })
          await github.repos.requestPagesBuild({
            owner: context.repo.owner,
            repo: context.repo.repo
          })
    - uses: actions/checkout@v2
    - name: Caching
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Get the URL of the rendered site
      id: rendered-site-url
      run: |
        full_url=$(curl -sH "Authorization: token ${AUTH_TOKEN}" \
        "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/pages" | \
        awk -F'"' '/\"html_url\"/ { print $4 }')
        url=$(dirname "${full_url}")
        echo "::set-output name=url::${url}"
      env:
        AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Cypress run
      uses: cypress-io/github-action@v2.7.2
      with:
        config: baseUrl=${{ steps.rendered-site-url.outputs.url }}
        working-directory: tests/e2e
        spec: cypress/integration/jekyll_gem_src/**/*
    - name: Save Cypress Screenshots
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-screenshots-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/screenshots
    - name: Save Cypress Videos
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: cypress-videos-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/videos
  
  build-only-publish: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: sample_site_gemfiles/vendor/bundle
        key: gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          gems
    - name: Basic run
      uses: ./
      with:
        jekyll_build_options: "--config ../sample_site/_config.yml,../sample_site/_config_build_only.yml"
        jekyll_env: development
        build_only: true
        token: ${{ secrets.GITHUB_TOKEN }}

  build-only-test: 
    runs-on: ubuntu-latest
    needs: jekyll-gem-src-test
    steps:
    - name: Set the GH Pages branch
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.JEKYLL_PAT}} # Need a PAT to switch the branch
        script: |
          await github.repos.updateInformationAboutPagesSite({
            owner: context.repo.owner,
            repo: context.repo.repo,
            source: {
              branch: "jekyll_gem_src_test_pages_branch",
              path: "/"
            }
          })
          await github.repos.requestPagesBuild({
            owner: context.repo.owner,
            repo: context.repo.repo
          })
    - uses: actions/checkout@v2
    - name: Caching
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Get the URL of the rendered site
      id: rendered-site-url
      run: |
        full_url=$(curl -sH "Authorization: token ${AUTH_TOKEN}" \
        "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/pages" | \
        awk -F'"' '/\"html_url\"/ { print $4 }')
        url=$(dirname "${full_url}")
        echo "::set-output name=url::${url}"
      env:
        AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Cypress run
      uses: cypress-io/github-action@v2.7.2
      with:
        config: baseUrl=${{ steps.rendered-site-url.outputs.url }}
        working-directory: tests/e2e
        # We're not publishing so the previous test should still pass
        spec: cypress/integration/jekyll_gem_src/**/*
    - name: Save Cypress Screenshots
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-screenshots-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/screenshots
    - name: Save Cypress Videos
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: cypress-videos-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/videos
  
  keep-history-prepare: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: keep_history_test_pages_branch
    - run: | 
        echo "<html><body><p>hello</p><p>${GITHUB_RUN_ID}</p></body></html>" > hello.html
        git config user.name "${GITHUB_ACTOR}"
        git config user.email "${GITHUB_ACTOR}@users.noreply.github.com" 
        git add hello.html
        git commit -m "adding a new file"
        git push origin keep_history_test_pages_branch
  
  keep-history-publish: 
    runs-on: ubuntu-latest
    needs: keep-history-prepare
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: sample_site_gemfiles/vendor/bundle
        key: gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          gems
    - name: Keep history run
      uses: ./
      with:
        jekyll_build_options: "--config ../sample_site/_config.yml,../sample_site/_config_keep_history.yml"
        jekyll_src: sample_site
        target_branch: keep_history_test_pages_branch
        keep_history: true
        token: ${{ secrets.GITHUB_TOKEN }}
      
  keep-history-test: 
    runs-on: ubuntu-latest
    needs: build-only-test
    steps:
    - name: Set the GH Pages branch
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.JEKYLL_PAT}} # Need a PAT to switch the branch
        script: |
          await github.repos.updateInformationAboutPagesSite({
            owner: context.repo.owner,
            repo: context.repo.repo,
            source: {
              branch: "keep_history_test_pages_branch",
              path: "/"
            }
          })
          await github.repos.requestPagesBuild({
            owner: context.repo.owner,
            repo: context.repo.repo
          })
    - uses: actions/checkout@v2
    - name: Caching
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Get the URL of the rendered site
      id: rendered-site-url
      run: |
        full_url=$(curl -sH "Authorization: token ${AUTH_TOKEN}" \
        "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/pages" | \
        awk -F'"' '/\"html_url\"/ { print $4 }')
        url=$(dirname "${full_url}")
        echo "::set-output name=url::${url}"
      env:
        AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Cypress run
      uses: cypress-io/github-action@v2.7.2
      with:
        config: baseUrl=${{ steps.rendered-site-url.outputs.url }}
        working-directory: tests/e2e
        spec: cypress/integration/keep_history/**/*
    - name: Save Cypress Screenshots
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-screenshots-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/screenshots
      # Test run video was always captured, so this action uses "always()" condition
    - name: Save Cypress Videos
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: cypress-videos-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/videos

  multiple-versions-publish: 
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: sample_site_gemfiles/vendor/bundle
        key: gems-${{ hashFiles('**/Gemfile') }}
        restore-keys: |
          gems
    - name: Basic run
      uses: ./
      with:
        jekyll_build_options: "--config ../sample_site/_config.yml,../sample_site/_config_multiple_versions.yml"
        target_branch: multiple_versions_test_pages_branch
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Run with dest path
      uses: ./
      with:
        jekyll_build_options: "--config ../sample_site/_config.yml,../sample_site/_config_multiple_versions.yml"
        target_branch: multiple_versions_test_pages_branch
        keep_history: true
        target_path: "current"
        token: ${{ secrets.GITHUB_TOKEN }}
      
  multiple-versions-test: 
    runs-on: ubuntu-latest
    needs: keep-history-test
    steps:
    - name: Set the GH Pages branch
      uses: actions/github-script@v3
      with:
        github-token: ${{secrets.JEKYLL_PAT}} # Need a PAT to switch the branch
        script: |
          await github.repos.updateInformationAboutPagesSite({
            owner: context.repo.owner,
            repo: context.repo.repo,
            source: {
              branch: "multiple_versions_test_pages_branch",
              path: "/"
            }
          })
          await github.repos.requestPagesBuild({
            owner: context.repo.owner,
            repo: context.repo.repo
          })
    - uses: actions/checkout@v2
    - name: Caching
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
    - name: Get the URL of the rendered site
      id: rendered-site-url
      run: |
        full_url=$(curl -sH "Authorization: token ${AUTH_TOKEN}" \
        "${GITHUB_API_URL}/repos/${GITHUB_REPOSITORY}/pages" | \
        awk -F'"' '/\"html_url\"/ { print $4 }')
        url=$(dirname "${full_url}")
        echo "::set-output name=url::${url}"
      env:
        AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Cypress run
      uses: cypress-io/github-action@v2.7.2
      with:
        config: baseUrl=${{ steps.rendered-site-url.outputs.url }}
        working-directory: tests/e2e
        spec: cypress/integration/multiple/**/*
    - name: Save Cypress Screenshots
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: cypress-screenshots-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/screenshots
    - name: Save Cypress Videos
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: cypress-videos-${{ runner.os }}-${{ matrix.node-version }}
        path: tests/e2e/videos
  
  
